<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <xacro:include filename="$(find simulation)/urdf/body/base.urdf.xacro" />
    <!-- 传感器组件 -->
    <xacro:include filename="$(find simulation)/urdf/sensor/imu.urdf.xacro" />
    <xacro:include filename="$(find simulation)/urdf/sensor/laser.urdf.xacro" />
    <xacro:include filename="$(find simulation)/urdf/sensor/camera.urdf.xacro" />

    <xacro:base_xacro length="0.12" radius="0.1" />
    <!-- 传感器 -->
    <xacro:imu_xacro xyz="0 0 0.02" />
    <xacro:laser_xacro xyz="0 0 0.10" />
    <xacro:camera_xacro xyz="0.10 0 0.075" />
    <!-- 执行器组件 -->
    <xacro:include filename="$(find simulation)/urdf/wheel/wheel.urdf.xacro" />
    <xacro:include filename="$(find simulation)/urdf/wheel/caster.urdf.xacro" />
    <!-- 执行器主动轮 从动轮-->
    <xacro:wheel_xacro wheel_name="left" xyz="0 0.10 -0.06" />
    <xacro:wheel_xacro wheel_name="right" xyz="0 -0.10 -0.06" />
    <xacro:caster_xacro caster_name="front" xyz="0.08 0.0 -0.076" />
    <xacro:caster_xacro caster_name="back" xyz="-0.08 0.0 -0.076" />

    <!-- Gazebo 插件 -->
    <!-- 两轮差速组件 -->
    <xacro:include filename="$(find simulation)/urdf/plugins/gazebo_control_plugin.xacro" />
    <!-- <xacro:gazebo_control_plugin /> -->

    <xacro:include filename="$(find simulation)/urdf/plugins/gazebo_sensor_plugin.xacro" />
    <xacro:gazebo_sensor_plugin />

    <xacro:include filename="$(find simulation)/urdf/robot.ros2_control.xacro" />
    <xacro:robot_ros2_control />

</robot>